body{
background-image:url(../michael/triangle.jpg)
}
h1{
margin-top:0px;
text-align:center;
font-size:200px;
}
h2{
text-align:center;
}
.title{
margin-right:10px;
text-align:right;
margin-top:10px;
}
form{
text-align:center;
}
input{
background:linear-gradient(90deg,#38D68E,#FFC045);
border: 0px solid transparent;
}
button{
background-color:#38D68E;
border: 1px solid transparent;

}
*{
padding:0px;
margin:0;
}
.container{

}
::placeholder { 
  color: #fff;
opacity:.6;
 }

.image{
background-size:cover;
}

